@import "./sass/utils/variables";
@import "./sass/utils/mixins";

* {
	box-sizing: border-box;
}

body {
	max-width: 768px;
	margin: auto;
	font-family: roboto, sans-serif;
}

header {
	display: flex;
	justify-content: center;
}
.logo img {
	@include header;
}

.search-by-city {
	display: flex;
	justify-content: center;
	padding: 13px 0 13px 0;
	background-color: rgba(239, 239, 239);
	box-shadow: inset 0px 5px 5px rgb(232, 232, 232);
	padding-left: 25px;
}

.form-btn {
	border: none;
	padding-left: 15px;
}

.form-input {
	border: none;
	background-color: rgba(239, 239, 239);
	display: flex;
	justify-content: center;
	padding-left: 15px;
	font-weight: bold;
	font-weight: 400;
}
::placeholder {
	color: black;
	opacity: 1;
}

.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	text-align: center;
	background-color: rgb(247, 247, 247);
	padding-bottom: 50px;
}

h1 {
	font-weight: bold;
	font-size: 22px;
	margin: 40px 60px 0 60px;
	text-align: center;
}

.intro p {
	margin: 10px 30px 30px 30px;
	color: grey;
	font-size: 17px;
	font-weight: 300;
}
.intro a {
	border: 1px none black;
	padding: 15px 20px 15px 20px;
	border-radius: 30px;
	text-decoration: none;
	font-size: 16px;
	color: white;
	background-image: linear-gradient(170deg, $color-secondary, $color-primary);
	background-position: right;
}

.fonctionnement {
	margin-top: 40px;
}

// barre de navigation

.selection {
	display: flex;
	flex-direction: column;
	margin: 0 20px 0 20px;
}

.nav-menu a {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	color: black;
	font-size: 16px;
	margin-bottom: 20px;
	border: 1px none rgb(242, 238, 238);
	background-color: #f6f6f6;
	border-radius: 20px;
	padding: 20px 0 20px 30px;
	box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.3);
	transition: transform 600ms;
}

.nav-menu a:hover {
	box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.6);
	background-color: $color-primary-btn-active;
	transform: scale(1.05);
}

.nav-menu-number {
	font-size: 10px;
	margin-left: -7 * $taille-standard-margin;
	margin-right: 20px;
	padding: 3px 6px 3px 6px;
	border: 1px solid $color-primary;
	background-color: $color-primary;
	border-radius: 40px;
}
.nav-menu-icon {
	color: grey;
}
.nav-menu-text {
	margin-left: 20px;
}

.footer {
	@include footer;
}
h3 {
	@include h3;
}
.footer a {
	@include footer-style;
	@include footer-items;
}
.fa-utensils {
	@include footer-items-i-1;
}
.fa-handshake-angle {
	@include footer-items-i-2;
}
img {
	width: 200px;
}
