html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  max-width: 768px;
  height: 100vh;
  margin: auto;
  font-family: roboto, sans-serif;
}

@media (min-width: 991px) {
  body {
    min-width: 991px;
  }
}
h1 {
  font-weight: bold;
  font-family: shrikhand, sans-serif;
  font-size: 30px;
}

h2 {
  font-size: 24px;
  font-family: shrikhand, sans-serif;
  margin-left: 40px;
  padding-top: 40px;
}

h3 {
  font-size: 17px;
  margin: 0;
}

h4 {
  font-family: shrikhand, sans-serif;
  color: white;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.7;
  animation: loader 3s ease-in-out forwards;
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.loader::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 15px solid transparent;
  border-radius: 50%;
  border-top-color: #99e2d0;
  animation: loading-spinner 3s ease-in-out forwards;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(6turn);
  }
}
.header-restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 160px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.search-by-city {
  display: flex;
  justify-content: center;
  padding: 13px 0 13px 0;
  background-color: rgb(239, 239, 239);
  box-shadow: inset 0px 5px 5px rgb(232, 232, 232);
  padding-left: 25px;
}

.form-btn {
  border: none;
  padding-left: 15px;
}

.form-input {
  border: none;
  background-color: rgb(239, 239, 239);
  display: flex;
  justify-content: center;
  padding-left: 15px;
  font-weight: bold;
  font-weight: 400;
}

::placeholder {
  color: black;
  opacity: 1;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-flow: column wrap;
  text-align: center;
  background-color: rgb(247, 247, 247);
  padding-bottom: 50px;
}

.intro-title {
  font-weight: bold;
  font-size: 22px;
  padding-top: 30px;
}

.intro p {
  margin: 10px 30px 30px 30px;
  color: grey;
  font-size: 17px;
  font-weight: 300;
}

.intro-btn {
  border: 1px none black;
  padding: 15px 20px 15px 20px;
  border-radius: 30px;
  font-size: 16px;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  background-position: right;
  transform: scale(1);
  transition: transform, 500ms ease-in-out;
}
.intro-btn:hover {
  transform: scale(1.05);
}

.intro a {
  color: white;
}

.fonctionnement {
  margin-top: 40px;
  font-size: 24px;
  font-weight: bold;
}
@media (min-width: 991px) {
  .fonctionnement {
    display: flex;
    justify-content: center;
  }
}

.selection {
  display: flex;
  flex-direction: column;
  margin: 0 20px 40px 20px;
}

.nav-menu a {
  display: flex;
  flex-direction: row;
  color: black;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 20px 0 20px 30px;
  box-shadow: 15px 15px 50px -10px;
  transform: scale(1);
  transition: transform, 500ms ease-in-out;
}
.nav-menu a:hover {
  transform: scale(1.05);
}

@media (min-width: 991px) {
  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav-menu a {
    width: 400px;
  }
}
.nav-menu a:hover {
  background-color: #e2d4f6;
  box-shadow: 15px 15px 50px -10px;
}

.nav-menu-number {
  font-size: 10px;
  margin-left: -35px;
  margin-right: 20px;
  padding: 3px 6px 3px 6px;
  border: 1px solid #9356dc;
  background-color: #9356dc;
  border-radius: 40px;
}

.nav-menu-icon {
  color: grey;
}

.nav-menu-text {
  margin-left: 20px;
}

#restaurants {
  font-family: roboto, sans-serif;
  margin: 20px 0 20px 15px;
}

.restaurants-cards {
  margin: 0 15px 0 15px;
}

.new-tag {
  position: absolute;
  right: 10px;
  bottom: 230px;
  border: 1px solid #99e2d0;
  background-color: #99e2d0;
  padding: 10px;
  font-size: 14px;
}

.restaurants-cards a {
  display: grid;
  grid-template-rows: 1fr;
  margin-bottom: 20px;
  line-height: 5px;
}

.cards {
  border-radius: 20px;
  box-shadow: 0 0 15px -10px;
  transform: scale(1);
  transition: transform, 500ms ease-in-out;
  box-shadow: 15px 15px 50px -10px;
}
.cards:hover {
  transform: scale(1.05);
}

@media (min-width: 991px) {
  .restaurants-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
.cards img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.cards-text {
  padding-top: 20px;
}

.cards:hover {
  box-shadow: 15px 15px 50px -10px;
}

.restaurants-cards-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 20px;
}

.cards-heart {
  font-size: 26px;
  position: relative;
}
.cards-heart .regular-heart-restaurant {
  position: absolute;
  bottom: -10px;
  right: 10px;
  z-index: -1;
}
.cards-heart .solid-heart-restaurant {
  position: absolute;
  bottom: -10px;
  right: 10px;
  opacity: 0;
  transition: all 200ms ease;
}
.cards-heart:hover .solid-heart-restaurant {
  position: absolute;
  color: transparent;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transform: translate(all 500ms ease-in-out);
}

.header-restaurants-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -20px;
}

.header-restaurants i {
  font-size: 22px;
}

.restaurants-img {
  max-width: 100%;
  position: relative;
  z-index: -1;
  top: 270px;
  margin-top: -260px;
}

.restaurant-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 991px) {
  .restaurant-title {
    display: flex;
    justify-content: space-around;
  }
}
.cards-heart-menu {
  position: relative;
}

.regular-heart-menu {
  font-size: 26px;
  position: absolute;
  bottom: -35px;
  right: 20px;
  z-index: 0;
}

.solid-heart-menu {
  font-size: 26px;
  position: absolute;
  bottom: -35px;
  right: 20px;
  opacity: 0;
  z-index: 2;
  transition: all 200ms ease;
}

.solid-heart-menu:hover {
  position: absolute;
  color: transparent;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transform: translate(all 500ms ease-in-out);
}

.menu-course {
  margin: 50px 20px 0 20px;
}

.menu-page-h3 {
  font-size: 18px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: relative;
}
.menu-page-h3::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 4px;
  background-color: #99e2d0;
  left: 0;
  top: 25px;
}

.menu {
  position: relative;
  background-color: #f6f6f6;
  margin-top: -90px;
  border-radius: 30px 30px 0 0;
  padding-bottom: 30px;
}

.dish-cards {
  position: relative;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
  overflow: hidden;
  box-shadow: 15px 15px 50px -10px;
  transform: scale(1);
  transition: transform, 500ms ease-in-out;
  z-index: 1;
  transition: transform 500ms ease-in-out;
}
.dish-cards:hover {
  transform: scale(1.05);
}
.dish-cards:hover::after {
  transform: scaleX(1);
  transition: transform 500ms ease-in-out;
}
.dish-cards:nth-child(1) {
  animation: dish-cards-anim 1.5s;
}
.dish-cards:nth-child(2) {
  animation: dish-cards-anim 2s;
}
.dish-cards:nth-child(3) {
  animation: dish-cards-anim 2.5s;
}
.dish-cards:nth-child(4) {
  animation: dish-cards-anim 3s;
}

@keyframes dish-cards-anim {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translatey(0px);
  }
}
.dish-cards a {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: black;
  line-height: 20px;
}
.dish-cards a > * {
  border: 1px solid black;
}

@media (min-width: 991px) {
  .menu-course {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .dish-cards {
    width: 500px;
  }

  dish-cards a {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.dish-cards-text {
  padding: 10px 0 10px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dish-cards-slide {
  display: flex;
  justify-content: flex-end;
}

.dish-cards-check {
  width: 0;
  transition: all 500ms;
}

.dish-cards:hover .dish-cards-check {
  width: 65px;
  background-color: #99e2d0;
  border-radius: 0 10px 10px 0;
}

.dish-cards-price {
  font-size: 14px;
  font-weight: bold;
  padding: 30px 5px 10px 10px;
}

.fa-check-circle {
  margin-left: 15px;
  margin-top: 15px;
  padding: 5px;
  font-size: 28px;
  border-radius: 50%;
  color: white;
  background-color: #99e2d0;
}

.dish-cards:hover .fa-check-circle {
  animation: rotate-center 0.5s ease forwards;
}

@keyframes rotate-center {
  to {
    transform: translatex(-5) rotate(0);
  }
  from {
    transform: translatex(-15px) rotate(360deg);
  }
}
.order-btn {
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 30px;
  margin-top: 40px;
  border: none;
  color: white;
  transform: scale(1);
  transition: transform, 500ms ease-in-out;
}
.order-btn:hover {
  transform: scale(1.05);
}

.order {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(58, 57, 57);
  padding-left: 20px;
  padding-bottom: 30px;
}

.footer a {
  color: white;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.fa-utensils {
  padding-right: 10px;
  font-size: 15px;
}

.fa-handshake-angle {
  padding-right: 10px;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
