* {
  box-sizing: border-box;
}

body {
  max-width: 768px;
  margin: auto;
  font-family: roboto, sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 160px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.search-by-city {
  display: flex;
  justify-content: center;
  padding: 13px 0 13px 0;
  background-color: rgb(239, 239, 239);
  box-shadow: inset 0px 5px 5px rgb(232, 232, 232);
  padding-left: 25px;
}

.form-btn {
  border: none;
  padding-left: 15px;
}

.form-input {
  border: none;
  background-color: rgb(239, 239, 239);
  display: flex;
  justify-content: center;
  padding-left: 15px;
  font-weight: bold;
  font-weight: 400;
}

::-moz-placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

::placeholder {
  color: black;
  opacity: 1;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
  background-color: rgb(247, 247, 247);
  padding-bottom: 50px;
  position: relative;
}

.loader {
  position: fixed;
  inset: 0;
  z-index: 1;
  overflow: hidden;
  background: #fff;
  opacity: 0;
  -webkit-animation: loader 5s;
          animation: loader 5s;
}

.loading {
  position: -webkit-sticky;
  position: sticky;
  inset: 50%;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  -webkit-animation: loading 0.5s infinite alternate;
          animation: loading 0.5s infinite alternate;
}

.loading:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loading:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes loading {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  80% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes loading {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  80% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
h1 {
  font-weight: bold;
  font-size: 22px;
  margin: 40px 60px 0 60px;
  text-align: center;
}

.intro p {
  margin: 10px 30px 30px 30px;
  color: grey;
  font-size: 17px;
  font-weight: 300;
}

.intro-btn {
  border: 1px none black;
  padding: 15px 20px 15px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  background-position: right;
  box-shadow: 5px 5px 15px -10px;
  transform: scale(1);
  transition: transform, 500ms ease-in-out;
}
.intro-btn:hover {
  transform: scale(1.05);
}

.intro a:hover {
  box-shadow: 5px 5px 15px -10px;
}

.fonctionnement {
  margin-top: 40px;
}

.selection {
  display: flex;
  flex-direction: column;
  margin: 0 20px 40px 20px;
}

.nav-menu a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 20px 0 20px 30px;
  box-shadow: 5px 5px 15px -10px;
  transform: scale(1);
  transition: transform, 500ms ease-in-out;
}
.nav-menu a:hover {
  transform: scale(1.05);
}

.nav-menu a:hover {
  background-color: #e2d4f6;
  box-shadow: 5px 5px 15px -10px;
}

.nav-menu-number {
  font-size: 10px;
  margin-left: -35px;
  margin-right: 20px;
  padding: 3px 6px 3px 6px;
  border: 1px solid #9356dc;
  background-color: #9356dc;
  border-radius: 40px;
}

.nav-menu-icon {
  color: grey;
}

.nav-menu-text {
  margin-left: 20px;
}

.cards-section {
  width: 100%;
  padding: 30px 20px 60px 20px;
  background-color: #f6f6f6;
}

#restaurants {
  margin: 20px 0 20px 0;
}

.new-tag {
  position: absolute;
  right: 10px;
  bottom: 230px;
  border: 1px solid #99e2d0;
  background-color: #99e2d0;
  padding: 10px;
  font-size: 14px;
}

.restaurants-cards a {
  display: grid;
  grid-template-rows: 1fr;
  margin-bottom: 20px;
  color: black;
  text-decoration: none;
  line-height: 5px;
}

.cards {
  border-radius: 20px;
  box-shadow: 0 0 15px -10px;
  transform: scale(1);
  transition: transform, 500ms ease-in-out;
}
.cards:hover {
  transform: scale(1.05);
}

.restaurants-cards-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 20px;
}

.h4 {
  font-weight: bold;
}

.cards-img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.cards-heart {
  font-size: 26px;
  position: relative;
}
.cards-heart .fa-regular {
  position: absolute;
  bottom: -10px;
  right: 10px;
  z-index: -1;
}
.cards-heart .fa-solid {
  position: absolute;
  bottom: -10px;
  right: 10px;
  opacity: 0;
  transition: all 200ms ease;
}
.cards-heart:hover .fa-solid {
  position: absolute;
  color: transparent;
  background-image: linear-gradient(180deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transform: translate(all 500ms ease-in-out);
}

.logo {
  width: 160px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.restaurants-img {
  max-width: 100%;
  position: relative;
  z-index: -1;
  top: 10px;
}

.restaurants-h1 {
  font-size: 24px;
  font-family: shrikhand, sans-serif;
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
  padding-top: 40px;
}

.menu-course {
  margin: 50px 20px 0 20px;
}

.restaurants-h2 {
  font-size: 18px;
  font-weight: normal;
  padding-left: 20px;
  padding-bottom: 10px;
  position: relative;
}

.restaurants-h2::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 4px;
  background-color: #99e2d0;
  left: 20px;
  top: 25px;
}

.menu {
  background-color: #f6f6f6;
  margin-top: -90px;
  border-radius: 30px 30px 0 0;
  padding-bottom: 30px;
}

.dish-cards {
  border-radius: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
  background-color: white;
  box-shadow: 5px 5px 15px -10px;
}

.dish-cards a {
  text-decoration: none;
  color: black;
  line-height: 10px;
}

.dish-cards h3 {
  color: black;
  font-family: Roboto, sans-serif;
  padding-left: 20px;
}

.dish-cards-price {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.fa-check-circle {
  font-size: 20px;
  color: white;
  background-color: #99e2d0;
  -webkit-animation: rotate-center 0.6s ease-in-out both;
          animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.order-btn {
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 30px;
  margin-top: 40px;
  border: none;
}

.order {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(58, 57, 57);
  padding-left: 20px;
  padding-bottom: 30px;
}

h3 {
  font-family: shrikhand, sans-serif;
  color: white;
}

.footer a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.fa-utensils {
  padding-right: 10px;
  font-size: 15px;
}

.fa-handshake-angle {
  padding-right: 10px;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */