@mixin background-image {
	background-image: linear-gradient(170deg, $color-secondary, $color-primary);
}

@mixin flex-center {
	display: flex;
	justify-content: center;
}

@mixin display-space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

// transitions & shadows

@mixin homepage-box-transitions {
	transform: scale(1);
	transition: transform, 500ms ease-in-out;

	&:hover {
		transform: scale(1.05);
	}
}

@mixin box-shadow-restaurants-and-menu {
	box-shadow: 15px 15px 50px -10px;
}

@mixin display-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// restaurants cards

@mixin restaurant-display {
	width: 100%;
	padding: 30px 20px 60px 20px;
	background-color: $background-lightgrey;
}

// restaurant pages

// footer

@mixin footer {
	display: flex;
	flex-direction: column;
	background-color: $color-background-footer;
	padding-left: 20px;
	padding-bottom: 30px;
}

@mixin footer-style {
	color: white;
}

@mixin footer-items {
	display: flex;
	flex-direction: row;
	padding-bottom: 10px;
}

@mixin footer-items-i-1 {
	padding-right: 10px;
	font-size: 15px;
}

@mixin footer-items-i-2 {
	padding-right: 10px;
	font-size: 12px;
}
